<p-card
    class="shadow-md hover:shadow-lg transition-all duration-300 rounded-2xl border border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-800"
>
    <ng-template pTemplate="header">
        <div class="flex items-center space-x-4">
            <img
                [src]="review.imageUrl || 'placeholderProfile.png'"
                alt="Performance Review"
                class="w-14 h-14 rounded-full object-cover border border-gray-300 dark:border-gray-600"
            />
        </div>
    </ng-template>

    <div class="text-gray-700 dark:text-gray-300 leading-relaxed text-sm mt-3">
        {{ review.feedback }}
    </div>
</p-card>
