apiVersion: apps/v1
kind: Deployment
metadata:
  name: employee-service
  namespace: microservices
spec:
  replicas: 1
  selector:
    matchLabels:
      app: employee-service
  template:
    metadata:
      labels:
        app: employee-service
    spec:
      containers:
        - name: employee-service
          image: docker.io/library/backend-employee-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          env:
            - name: DB_URL
              value: jdbc:postgresql://employee-db.microservices.svc.cluster.local:5432/employee_db
            - name: DB_USERNAME
              value: postgres
            - name: DB_PASSWORD
              value: postgres
            - name: EUREKA_SERVER
              value: http://discovery-server.microservices.svc.cluster.local:8761/eureka/
            - name: JWT_JWK_URI
              value: http://identity-service.microservices.svc.cluster.local:8080/api/identity/auth/.well-known/jwks.json


---
apiVersion: v1
kind: Service
metadata:
  name: employee-service
  namespace: microservices
spec:
  selector:
    app: employee-service
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP
