apiVersion: apps/v1
kind: Deployment
metadata:
  name: identity-service
  namespace: microservices
spec:
  replicas: 1
  selector:
    matchLabels:
      app: identity-service
  template:
    metadata:
      labels:
        app: identity-service
    spec:
      containers:
        - name: identity-service
          image: europe-west1-docker.pkg.dev/erp-konecta-477213/erp-services/backend-identity-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: DB_URL
              value: jdbc:postgresql://identity-db.microservices.svc.cluster.local:5432/identity_db
            - name: DB_USERNAME
              value: postgres
            - name: DB_PASSWORD
              value: postgres
            - name: EUREKA_SERVER
              value: http://discovery-server.microservices.svc.cluster.local:8761/eureka/


---
apiVersion: v1
kind: Service
metadata:
  name: identity-service
  namespace: microservices
spec:
  selector:
    app: identity-service
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP
